:root {

    /* Colors */

    --primary-color: #25a1dd;
    --secondary-color: #004d7b;

    --important-heading-color: #303952;
    --icon-color: #63cdda;
    --tag-color: #f19066;

    --neutral-base-color: #fff;
    --neutral-background-color: #fafafa;
    --neutral-font-color: #6d665c;

    --font-color: var(--neutral-font-color);

    /* Buttons */

    --btn-primary: var(--primary-color);
    --btn-secondary: var(--secondary-color);
    --btn-third: var(--third-color);

    --btn-hover-primary: #1e8abe;
    --btn-hover-secondary: #003555;
    --btn-hover-third: #004d7b;

    --btn-active-primary: #14719d;
    --btn-active-secondary: #002a44;
    --btn-active-third: #003859;

    --btn-disabled-primary: #14719d;
    --btn-disabled-secondary: #002a44;
    --btn-disabled-third: #003859;
}